@import '../../styles/variables';
@import '../../styles/mixins';

.container {
    margin-bottom: 1rem;
    display: flex;
}
.title {
    @include title;
}

.header {
    @include header;
    margin-right: 1rem;
}