@import '../../styles/variables';
@import '../../styles/mixins';

  .slideshow {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: -1;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    height: 100%;
    transition: ease 500ms;
  }
  
  .slide {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
  .slideshowDots {
    height: 50px;
    margin-top: auto;
    min-width: 150px;
    text-align: center;
  }
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: $secondary;
  
    &.active {
      background-color: $primary;
    }
  }

  .arrowRight {
      @include arrow($secondary);
      top: calc(50% - 20px);
      left: calc(100% - 5rem);
  }
  .arrowLeft {
      @include arrow($secondary);
      top: calc(50% - 20px);
      left: 3rem;
  }